.column {
  width: 400px;
  float: left;
  margin: 20px;
}

.column h2 {
  color: rgb(12, 229, 73);
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

body {
  font-family: 'Young Serif', serif;
}

h1 {
  text-align: center;
  color: greenyellow;
}

@media all and (max-width: 768px) {
  body {
    background-color: black;
    color: white;
  }
}

@media all and (max-width:400px) {
  body {
    background-color: blue;
    color: white;
  }
}